@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')}

*,.btn-flat,.btn-large{font-family: 'Poppins', sans-serif;font-size:25px;font-weight:300}
.material-icons{font-family: 'Material Icons', sans-serif;font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-smoothing:antialiased}

body{
  overflow:hidden;
}
h1 {
  font-size: 4.5rem;
  line-height: 140%;
}

.slider-panel{
  transform:none;
  height:100vh;
}

.arrow_up, .arrow_down, .info{
  width:100%;
  position:absolute;
  text-align:center;
  display:none;
  user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}
.arrow_up i, .arrow_down i{
  cursor:pointer;
}
.arrow_up{
  top:10px;
}
.arrow_down{
  bottom:10px;
}
.info{
  top:20px;
}

.row{
  margin:0;
}

@media only screen and (max-width: 600px){
  p,.btn-flat,.btn-large{
    font-size:20px;
  }
}